@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Happy+Monkey&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smythe&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

body {
    text-align: center;
    margin: 0 auto;
    font-family: "Smythe", system-ui;
    width: 600px;
    /* height: 1161px; */
    background-color: #F5F5F5;
}

header {
    background-image: url(assets/header.jpeg);
    width: 600px;
    height: 167px;
    background-size: cover;
    margin: 0 auto;
    color: white;
}

.header-text {
    text-align: start;
    padding-left: 46px;
    padding-top: 9px;
}

.pizza, .burger, .beer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 46px 45px;
    height: 140px;
    border-bottom: 2px solid rgb(179, 175, 175);
}

.pizza-info, .burger-info, .beer-info {
    display: flex;
    gap: 31px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 9px;
}

h2, h3, p {
    margin: 0;
}

.img {
    width: 70px;
    height: 89px;
    font-size: 70px;
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 67px;

}

.plus {
    width: 50px;
    height: 50px;
    font-size:30px;
    border:2px solid rgb(179, 175, 175);
    border-radius: 50%;
}

.plus:hover {
    cursor: pointer;
    background-color: gray;
    transition: .5s;
}

p {
    text-align: center;
    margin-top: 7px;
}

.bill {
    text-align: center;

}

.items {
    text-align: start;
    display: flex;
    margin: 20px 56px 0 56px;

    justify-content: space-between;
}

.each-item {
    display: flex;
    gap: 10px;
}

.remove {
    color: rgb(179, 175, 175);
}

.remove:hover {
    cursor: pointer;
}

.total-price {
    display: flex;
    justify-content: space-between;
    margin-left: 56px;
    margin-right: 56px;
    margin-top: 20px;
    border-top: 2px solid rgb(179, 175, 175);
    padding-top:20px ;
}

#submit {
    height: 60px;
    width: 508px;
    background-color: #16DB99;
    color: white;
    font-size: large;
    font-weight: bold;
    border: none;
    margin: 20px auto;
}

#submit:hover {
    background-color: #08b47b;
    transition: .1s;
    cursor: pointer;
}